/* @import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900); */
:root{
  --primary-color:rgb(113, 190, 3);
  --text-color:rgb(158, 167, 176);
  --btn-color:linear-gradient(to right ,rgb(113, 190, 3),rgb(10, 86, 39))
}
*{
    margin: 0;
    padding:0;
    font-weight: 600;
    border:none;
    box-sizing: border-box;
    font-family: 'Roboto Mono',sans-serif;
}
body{
  width:414px;
  font-size: 12px;
  background-image:  url(/img/caukhanhhoicaukhanhhoi.jpg);
  background-repeat: no-repeat;
  background-size:414px 1000px;
  display:flex;
  flex-direction: column;
}
.bill{
  width:414px;
  font-size: 12px;
  background-image:  url(/img/caukhanhhoicaukhanhhoi.jpg);
  background-repeat: no-repeat;
  background-size:414px 1000px;
  display:flex;
  flex-direction: column;
  z-index: 100;
}
.input{
  width:414px;
  font-size: 12px;
  background-image:  url(/img/caukhanhhoicaukhanhhoi.jpg);
  background-repeat: no-repeat;
  background-size:414px 1000px;
  display:flex;
  flex-direction: column;
}
.gain-size{
  width:100%;
  height:100px;
  background-color: rgb(13, 29, 36);
  font-weight: 1000;
}
::placeholder{
  color:rgb(158, 167, 176);
  opacity: 1;
}